:root {
    --marginbutton: 4vmin;
    --spielfeldmass: 12vmax;
    --background: #000;
    --color: #000;
  }
  
@media only screen and (min-width: 1250px) {
    :root { 
        --marginbutton: 2vmin;
        --spielfeldmass: 8vmax;
    }
    div.siegpunkte {
        font-size: 5vmax;
    }
}
  
* {
    padding: 0px;
    margin: 0px;
}
  
html, body {
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(183deg, #376b97, #399997, #359275, #8a8f35, #a04e32);
    background-size: 1000% 1000%;
    -webkit-animation: background_gradient 259s ease infinite;
    -moz-animation: background_gradient 259s ease infinite;
    animation: background_gradient 259s ease infinite;
}
@-webkit-keyframes background_gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes background_gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes background_gradient {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
  
.spielerauswahl-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.spielerauswahl {
    width: calc(3*var(--spielfeldmass));
    margin-bottom: var(--marginbutton);
    font-size: min(max(25px, 3.8vmin), 50px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
#spielerauswahl_1{
    background-color: transparent;
    color: #000;
    border-radius: 0.5rem;
    animation: pulsieren 0s ease 0s infinite;
}
#hund-1 {
    animation: pulsieren 0s ease 0s infinite; 
}
#spielerauswahl_2 {
    background-color: transparent;
    color: #000;
    border-radius: 0.5rem;
    animation: pulsieren 0s ease 0s infinite;
}
#hund-2 {
    animation: pulsieren 0s ease 0s infinite; 
}
@keyframes pulsieren {
    50% { transform: scale(1.2);}
}
  
.hund {
    width: calc(var(--spielfeldmass)*0.6);
    height: calc(var(--spielfeldmass)*0.6);
}

.daumenhoch {
    height: var(--spielfeldmass);
    display: flex;
    justify-content: center;
}
  
#daumen {
    filter: drop-shadow(0.1rem 0.1rem 0.3rem rgb(255, 217, 0));
    animation: beat 2.0s ease 0s 2;
}
@keyframes beat {
    0% { transform: scale(1);}
    50% { transform: scale(1.3);}
}
@keyframes beat-before {
    0% { transform: scale(1);}
    50% { transform: scale(0.9);}
}
@keyframes beat-after {
    0% { transform: scale(1);  }
    50% { transform: scale(1.2);}
}
  
#checked-button {
    width: 100%;
    background-color: transparent;
    border: none;  
    display: flex;
    justify-content: center;
}

#checked-img {
    height: var(--spielfeldmass);
    background-color: transparent;
    border: none;  
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
header {
    color: #000;
    font-size: min(max(22px, 3vmin), 100px);       
    margin-top: var(--marginbutton);
    margin-bottom: var(--marginbutton);
}    
    
.spielfeld {
    display: grid;
    grid-template-columns: repeat(3, var(--spielfeldmass));
    grid-gap: 1vmin;
    margin-bottom: var(--marginbutton);  
}
  
.element {
    display: flex;
    justify-content: center;
    align-items: center;  
    height: var(--spielfeldmass);
    border-radius: 2vmin;
    font-size: min(max(50px, 8vmin), 100px); 
    background: linear-gradient(to bottom, #59a2e2, #49c3c1, #34b88e, #b4bb31, #ca5832);
    background-size: 500% 500%;
    -webkit-animation: element_gradient 150s ease infinite;
    -moz-animation: element_gradient 150s ease infinite;
    animation: element_gradient 150s ease infinite;
}
@-webkit-keyframes element_gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes element_gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes element_gradient {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
  
.img {
    height: calc(var(--spielfeldmass) * 0.7);
}


.sieg-zaehler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(var(--spielfeldmass) * 3 + 2vw);
    margin-bottom: calc(var(--marginbutton)*2); 
}

.sieg-zaehler-icon {
    height: calc(var(--spielfeldmass) - 3vmax);
}

.siegpunkte {
    width: calc(var(--spielfeldmass));
    padding-left: 2vmax;
    font-size: 7vmax;
    color: var(--color);
}
  
.controlsContainer {
    width: calc(var(--spielfeldmass) * 3 + 2vw);
    margin-bottom: var(--marginbutton);
}